.nav-spacing {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.logo {
    height: 4rem;
}

.main-bg-custom {
  background-color: #0a1931;
  min-height: 100vh;
  color: white;
}

.navbar-font {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
}